#about{
	
	text-align: center;
	font-weight: bold;
	min-height: 520px;	
	opacity: 0;
	@keyframes fadeEffect{
	    	
	    	0% 	 { opacity: 0;}
	   	 	100% { opacity: 1;}
	}
    animation: fadeEffect 1.0s forwards;
  	animation-delay: 0.1s;		

	.aboutUs{

		margin-top: -15px;
	}

	.about_header{

		height: 80px;

		.img_about{


			height: 100%;
			width: 50%;
			min-width: 320px;
			position: relative;
			top:-50px;
			margin: 0 auto;
		}
	}
	
	p{
		font-size: 16px;
	}

	h1, h2{

		font-size: 3em;
		color: rgba(56, 52, 47, 0.9);
		text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

	}

}

.about-container {
	background: rgba(255, 255, 255, 0.92);
  min-height: 428px;
  max-width: 60%;
  margin: 0 auto;

  h1, h2 {
  	color: #5cb85c !important;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white, 2px 2px 0px white !important;
  }

  p {
  	color: #5bb75b;
  }
}