/* Border shadow mixin for contact page */
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

.contact-container {
  background: rgba(234, 234, 234, 0.63);
  min-height: 428px;
  max-width: 60%;
  margin: 0 auto;

  input, textarea {
    border-color: #5cb85c;
    border-width: 2px;
    border-style: solid;
  }

  h3 {
    color: #5cb85c;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  span {
    p {
      color: #2e592e;
    }
  }
  
  .btn {
    width: auto;
    background: #5cb85c;
    color: white;
    border-color: white;
    font-weight: bold;
    border-width: 2px;
    border-style: outset;
    border-color: #4cae4c;
    font-style: italic;
    margin-top: 3%;
    margin-left: 32%;
    &:hover {
    border-style: outset;
    background: white;
    color: #5cb85c;
    }
    &:active {
      background: #315e31 !important;
    }
  }

}

#container_contactForm {

  #submitContact {
    text-align:center;
  }
  .main-contact{
    margin: auto;
    background-color: #fff;
    max-width:  50%;
  }
  .form-contact {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-inline {
    max-width: 100%;
    padding: 50px;
    margin: auto;
    text-align: left;
  }
  .form-contact .form-contact-heading,
  .form-contact .checkbox {
    margin-bottom: 10px;
  }
  .form-contact .checkbox {
    font-weight: normal;
  }
  .form-contact .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-contact .form-control:focus {
    z-index: 2;
  }
  .form-contact input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  #submit {
    width: 80%;
    margin-top: 10px;
  }

  #message {
    resize: none;
  }

  #contactFormError {
    margin-top:10px;
    padding-top: 10px;
  }

  #contactFormSuccess {
    margin-top:10px;
    padding-top: 10px;
  }

}

.help-block-fit {
  max-width: 80%;
}

.stroke {
  text-align:center; 
  font-family: impact;
  text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, 2px 2px 0px #fff;
}