#dashboard_container{
  @media (max-width: 767px) {
    text-align: center;
  }

  .chall-info {
    line-height: 30px;

    span {
      text-transform: capitalize;
    }
  }

  li.chall-li.media {
    padding: 20px 0;
    border-radius: 5px;
    border-bottom: 1px solid;
    box-shadow: 0px -1px 1px #ccc;
  }

  li.chall-li.media:hover {
    background-color: #eee;
  }

  .play-btn {
    @media (min-width: 600px) and (max-width: 767px) {
      width: 50%;
    }
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    i {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

