#very-easy {
	color: #00cd00;
}

#easy {
	color: green;
}

#normal {
	color:orange;
}

#hard {
	color: red;
}

#very-hard {
	color: #830202;
}

#help {

	text-align: justify;
	font-weight: bold;
	min-height: 520px;
	opacity: 0;
	@keyframes fadeEffect {
	    	0% 	 { opacity: 0;}
	   	 	100% { opacity: 1;}
	}
  animation: fadeEffect 1.0s forwards;
  animation-delay: 0.1s;

	.help_principal {
		margin-top: -15px;
	}

	.help_header{
		text-align: center;
		height: 80px;
		.img_help {
			height: 100%;
			width: 50%;
			min-width: 330px;
			position: relative;
			top: -40px;
		}
	}

	p {
		font-size: 16px;
	}

	.btn_action {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;
		.btn:hover {
			background-color: black;
			color: white;
			font-weight: bold;
		}
	}

	.categoryDetails {
		padding-left: 7%;
		text-align: left;
		font-weight: normal;
		font-style: italic;
	}

	h1, h2 {
		font-size: 3em;
		color: rgba(56, 52, 47, 0.9);
		text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
	}

	ul {
		list-style-type:circle;
	}
}

.help-container {
	background: rgba(255, 255, 255, 0.92);
  min-height: 428px;
  max-width: 60%;
  margin: 0 auto;

  h1 {
  	color: #5cb85c !important;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white, 2px 2px 0px white !important;
  }

  p {
  	color: #5bb75b;
  }

  .help-btn {
    width: auto;
    background: #5cb85c;
    color: white;
    border-color: white;
    font-weight: bold;
    border-width: 2px;
    border-style: outset;
    border-color: #4cae4c;
    font-style: italic;
    margin-top: 3%;
    &:hover {
    border-style: outset;
    background: white;
    color: #5cb85c;
    }
    &:active {
      background: #315e31 !important;
    }
  }
}