/* Space out content a bit */
.prg-cover {
  background-image:url(../images/home.png);
  background-repeat:no-repeat;
  background-size:cover;
  padding-top: 0px;
  padding-bottom: 0px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  .h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Make the masthead heading the same height as the navigation */

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Border shadow mixin for landing page */
@mixin box-shadow($width, $high, $sratio, $pratio, $opacity) {
  -webkit-box-shadow: $width $high $sratio $pratio $opacity;
  -moz-box-shadow: $width $high $sratio $pratio $opacity;
  box-shadow: $width $high $sratio $pratio $opacity;
}

/* Customize landing */
@media (min-width: 768px) {
  .landing {
    opacity: 0;
    @include box-shadow(0px, 0px, 72px, -1px, rgba(0, 0, 0, 0.9));
    max-width: 730px;
    background: rgba(255, 255, 255, 0.86);
    margin: auto;
    width: 60%;
    padding: 26px;
    padding-bottom: 6px;
    a {
      font-weight: bold;
      color: #2196F3;
    }
  }
}

@media (max-height: 1366px) {
  .landing {
    height: 100vh;
  }

  .jumbotron {
    height: 240px;
    width: 90%;
    margin-left: 6%;
    border-width: thick;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-right-radius: 45% !important;
    border-top-left-radius: 45% !important;
    border-top-right-radius: 3% !important;
    border-bottom-left-radius: 3% !important;
    border-color: #5cb85c;
    border-style: outset;
    background: #fcfcfc;
    padding-left: 8% !important;
    padding-right: 8% !important;
    h1 {
      font-size: large;
      font-size: -webkit-xxx-large; 
      font-variant: small-caps;
      margin-top: 10px !important;
    }
    p {
      font-size: medium;
      margin-bottom: 8px;
    }
    a {
      font-size: small;
    }
    .btn {
      width: 150px;
      padding-left: 0!important;
      padding-right: 0 !important;
      font-size: 17px !important;
      color: #5cb85c;
      display: inline-block !important;
      text-align: center !important;
      background: white;
      border-width: 2px !important;
      font-weight: bold;
      border-style: outset;
      &:hover {
        background: #5cb85c;
        color: white;
        border-color: white;
      }
      &:active {
        background: #315e31;
      }
    }
  }
  .landing-row {
    margin-bottom: 34px;
    margin-top: 34px;
    padding-top: 25px;
    h4 {
      font-size: 21px !important;
      font-weight: bold;
      color: #5cb85c;
      font-style: italic;
    }       
    p {
      font-size: 16px;
      border-left: solid limegreen;
      border-bottom: transparent !important;
      border-right: transparent !important;
      border-top: transparent !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 10%;
      border-color: rgb(92, 184, 92);
      padding-left: 2%;
      border-width: 2px;
      color: rgb(125, 155, 127);
      font-style: italic;
      font-weight: bold;;
    }
  }  
}

.landing{
  .active {
    & > li:first-child {
      a {
        background-color: #5cc3bc !important;
        &:hover {
          background: #5cb85c !important;
        }
      }
    }
    a {
      color: #5cc3bc;
      font-weight: bold;
      &:hover {
        background: rgba(255, 255, 255, 0.90) !important;
        border-bottom: 1px solid;
        border-bottom-color: #5cc3bc;
      }
    }
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-width: thick;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-right-radius: 45% !important;
  border-top-left-radius: 45% !important;
  border-top-right-radius: 3% !important;
  border-bottom-left-radius: 3% !important;
  border-color: #5cb85c;
  border-style: outset;
  background: #fcfcfc;
  padding-left: 8% !important;
  padding-right: 8% !important;
  .btn {
    padding: 14px 24px;
    font-size: 21px;
    color: #5cb85c;
    background: white;
    border-width: initial;
    font-weight: bold;
    border-style: outset;
    &:hover {
      background: #5cb85c;
      color: white;
      border-color: white;
    }
    &:active {
      background: #315e31;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    border-top: 0;
    h1 {
      color: #5cb85c;
      font-style: italic;
      font-weight: bold;
    }
    p {
      font-weight: 600;
      color: #5cc3bc;
      font-style: italic;
    }
  }
}

.landing-row {
  margin-bottom: 34px;
  margin-top: 34px;
}

.no-padding-top {
  padding-top: 0;
}

/* EFFECTS */

.fade-in {
  @keyframes fadeIn{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* This section calls the fadeIn animation defined above */
  animation: fadeIn 1.0s forwards;
  animation-delay: 0.5s;
}