#nav_bar{

  .navbar-login
  {
      width: 305px;
      padding: 10px;
      padding-bottom: 0px;
      @media (max-width: 767px) {
         color: white;
         width: auto;
      }
  }

  .profile_link a {
    text-decoration: none;
    color: black;
  }

  .navbar-login-session
  {
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 0px;
  }

  .icon-size
  {
      font-size: 87px;
  }
}

#searchDiv .select2 {
  height: 100% !important;
  width: 100% !important;
  display: none;
}

#searchDiv .select2-selection {
  border-radius: 4px 25px 25px 4px !important;
}

#searchDiv .select2-container * {
  border-radius: 4px 25px 25px 4px !important; 
}

#searchDiv .select2-dropdown {
  display: none;
}

.search-form .form-group {
  top: 10px;
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
#searchDiv .search-form .form-group select#search {
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:none;
}
#searchDiv .search-form .form-group select#search::-webkit-select-placeholder {
  display: none;
}
#searchDiv .search-form .form-group select#search:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
#searchDiv .search-form .form-group select#search::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
#searchDiv .search-form .form-group select#search:-ms-select-placeholder {
  display: none;
}
#searchDiv .search-form .form-group:focus {
  top: 10px;
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.hiddenElement {
  display:none !important;
}