#container_newChallenge {

  #code{
	 resize: none;
  }

  #lang{
    width: 200px;
  }

  #nameChallenge{}

  #type{
	 width: 200px;
  }

  #diffic{
	 width: 200px;
  }

  #description{
	 resize: none;
  }

  .main-login{
    margin: auto;
    background-color: #fff;
    max-width: 30%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  }
  .form-inline {
    max-width: 100%;
    padding: 50px;
    margin: auto;
    text-align: left;
  }

  #submitData{
    margin-top: 10px;
  }

  .form-newChallenge input[type="a"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-newChallenge input[type="b"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-newChallenge input[type="c"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  p{ margin: 10px;}

  #new_challengeError{
    margin-top: 10px;
  }
}
