#play-container{
  #game-actions {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
    display: table;
    table-layout: fixed;
  }

  .action-btn {
      display: table-cell;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      
      i {
        margin-right: 10px;
        font-size: 20px;
      }
  }

  #console {
    display: block;
    height: 200px;
    background-color: #f2f2f2;
    overflow-y: scroll;
    padding: 5px;
  }

  #console samp {
    font-family: monospace,"Courier New";
  }

  .nav.nav-tabs {
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  blockquote{
    font-size: 15px;
    font-family: initial;
    margin: 0;
  }

  .panel-heading {
    font-variant: all-small-caps;
    font-size: 17px;
    padding: 5px 15px;
  }
  
  #alert-cont{
    transition: max-height 1s; 
    max-height: 0;
    overflow: hidden;
  }

  .panel{
    margin:10px 0;
  }

  .panel-body{
    padding: 0;
  }

  .clickable{
      cursor: pointer;
  }

  .clickable .glyphicon{
      background: rgba(0, 0, 0, 0.15);
      display: inline-block;
      padding: 6px 12px;
      border-radius: 4px
  }

  .panel-heading span{
      margin-top: -2px;
      font-size: 15px;
      margin-right: -9px;
  }
  a.clickable { color: inherit; }
  a.clickable:hover { text-decoration:none; }
  
}

#code-editor-container{
  
  .code-bar {
    display: block;
    height: 30px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
  }
  
  #fixed-btn {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 10;
    background-color: #262626;
    width: 50px;
    font-size: 42px;
    margin: 10px;
    padding-left: 4px;
    border-radius: 5px;
  }

  .code-bottom {
    border-radius: 0 0 5px 5px;
  }

  .code-top {
    border-radius: 5px 5px 0 0;
  }

  .code-body {
    border: solid #ddd;
    border-width: 0 1px;
  }

  .code-bottom p{
    margin: 0;
  }

  .fsbtn{
    padding: 2px 2px;
    margin-right: 4px;
    margin-top: 4px;
    color: #2a2a2a;
    box-shadow: 0 0 1px;
    display: inline-flex;
  }
  .fsbtn:active{
    box-shadow: 0 0 1px,inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

}


#subm-modal{
  
  /* The Modal (background) */
  .submodal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 999; /* Sit on top */
      padding-top: 200px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .submodal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      width: 40%;
      min-width: 480px;
  }
}

/**
 * My submissions tab
 */
#subs-tab {
  .view-btn {
    margin-right: 20px;
    width: 120px;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
}

/**
 * Ranking tab
 */
#ranking-tab {
  .user{
    margin-left: 80px !important;
    margin-right: 40px;
  }
}

/**
 * Both tabs
 */
#subs-tab, #ranking-tab {
  max-height: 500px;
  overflow-y: scroll;
  
  .sub-li.media {
    padding: 15px 0;
    border-radius: 5px;
    border-bottom: 1px solid;
    box-shadow: 0px -1px 1px #ccc;

  }
  .sub-li div {
    display: inline-block;
  }

  .subs-ul {
      padding: 0 20px;
  }
  .score {
    font-size: large;
    margin-left: 70px;
    margin-right: 20px;
  }

  .date {
    width: 175px;
  }

  .date, .position, .user{
    margin-left: 20px;
    font-weight: bold;
    
    .label {
      font-size: unset;
    }
  }

  .alert {
    margin-top: 10px;
  }
}
