
#user_profile_container {
  margin-top: 5%;
}

#edit-avatar{
    position:relative;
    top:-35px;
    left:25px;
}

#countriesDiv .select2 {
	display: block !important;
}

.profile-container {
  background: white;
}

.profile-content {
  background: #5cb85c;
  width: 40%;
  overflow: hidden;
}

.prg-title {
  font-variant: small-caps;
  color: white;
  font-weight: bold;
}

.profile-edit-container {
  margin: 2%;
}