/* Border shadow mixin for signup page */
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

#signUpContainer {

  .main-signup {
    min-height: 428px;
    margin: auto;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.95);
  }
  .form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    h2 {
      color: #5cb85c;
      font-style: italic;
      font-weight: bold;
    }
  }
  .form-inline {
    max-width: 100%;
    padding: 50px;
    margin: auto;
    text-align: left;

  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn {
    font-weight: bold;
    border-style: outset;
    background: white;
    color: #5cb85c;
    border-width: 2px;
    border-style: outset;
    border-color: #4cae4c;
    font-style: italic;
    &:hover {
      background: #5cb85c;
      color: white;
      border-color: white;
    }
    &:active {
      background: #315e31;
    }
  }
  .checkbox { 
    label {
      font-weight: bold;  
    }
    color: #2196F3;
  }
  .glyphicon {
    font-weight: bold;
    color: #5cb85c;
  }
  p {
    margin: 10px;
  }
}

#content {
  @include box-shadow(inset 0px 0px 72px -1px rgba(0, 0, 0, 0.9));
}

#footer {

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), white, white, white, white, white);
    opacity: .5; 
  }
}

#footer-text {
  position: fixed;
  right: 37%;
  bottom: 0%;
  color: black;
  font-weight: bold;
  font-style: italic;
  opacity: 0.5;
}

.no-margin-bottom {
  margin-bottom: 0;
}