<div id="chall-desc-panel" class="panel panel-default">
  <div class="panel-heading">Description
    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
  </div>
  <div class="panel-body">
    <blockquote>
      <p class="">
        {{{description}}}
      </p>
    </blockquote>
  </div>
</div>
<div id="editor-panel" class="panel panel-default">
  <div class="panel-heading">Editor
    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
  </div>
  <div class="panel-body">
    <textarea id="editor-ta" cols="30" rows="10">
      {{{program}}}</textarea>
    <div id="game-actions">
      <div id="save-btn" class="action-btn btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i>
        Save
      </div>
      <div id="check-btn" class="action-btn btn btn-success">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        Check
      </div>
    </div>
  </div>
</div>
<div id="alert-cont">
  <div id="alert-msg" class="alert"></div>
</div>
<div id="output-panel" class="panel panel-default">
  <div class="panel-heading">Output
    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
  </div>
  <div class="panel-body">
    <div id="console">
      <samp></samp>
    </div>
  </div>
</div>