<li class="sub-li media">
  <div class="position">
    <span class="label label-primary">
      <i class="fa fa-hashtag " aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{position}}
    </span>
  </div>
  <div class="user">
    <span class="label label-info">
      <i class="fa fa-user-circle " aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{username}}
    </span>
  </div>
  <div class="score pull-right">
    <span class="label label-success">
      <i class="fa fa-dashboard " aria-hidden="true"></i>&nbsp;Score : {{score}}
    </span>
  </div>
  <div class="date pull-right">
    <span class="label label-default">
      <i class="fa fa-calendar-o " aria-hidden="true"></i> {{day}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-clock-o " aria-hidden="true"></i> {{time}}
    </span>
  </div>
</li>