<li class="sub-li media">
  <div class="date">
    <span class="label label-default">
      <i class="fa fa-calendar-o " aria-hidden="true"></i> {{day}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-clock-o " aria-hidden="true"></i> {{time}}
    </span>
  </div>
  <div class="score">
    <span class="label label-success">
      <i class="fa fa-dashboard " aria-hidden="true"></i>&nbsp;Score : {{score}}
    </span>
  </div>
  <div class="btn btn-info pull-right view-btn">view</div>
  <textarea style="display: none;">{{code}}</textarea>
</li>