<div class="container profile-edit-container">
     <h1 class="prg-title">Account Settings</h1>
    <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Change password</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Current password:</label>
          <div class="col-md-8">
            <input id="input_currentP" class="form-control" value="" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">New password:</label>
          <div class="col-md-8">
            <input id="input_password" class="form-control" value="" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input id="input_password2" class="form-control" value="" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input id="updatePassword" class="btn btn-primary" value="Change password" type="button">
            <span></span>
          </div>
        </div>
      </form>
      <div id="errorMsg" class="alert alert-danger" hidden></div>
      <div id="successMsg" class="alert alert-success" hidden></div>
    </div>
  </div>
</div>
<hr>
