<div class="container profile-edit-container" id="edit">
     <h1 class="prg-title">Edit Profile</h1>
    <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Name:</label>
          <div class="col-md-8">
            <input id="input_name" class="form-control" placeholder="Name" value="{{name}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input id="input_username" class="form-control" placeholder="Username" value="{{username}}" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Country:</label>
          <div id="countriesDiv" class="col-md-8">
            {{> countries}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Occupation:</label>
          <div class="col-md-8">
            <input id="input_occupation" class="form-control" placeholder="Occupation" value="{{occupation}}" type="text">
          </div>
        </div>
        <div class="form-group" hidden>
          <input id="imageURL" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input id="saveChanges" class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
          </div>
        </div>
      </form>
      <div id="edit_error" class="alert alert-danger" hidden></div>
    </div>
  </div>
</div>
<hr>
