  <h1 class="prg-title">Personal Information</h1>
  <hr>
  <div class="row">

<div class="col-md-6  admin-content profile-content" id="profile">
  <div id="usernameDiv" class="panel panel-info" style="margin: 1em;">
    <div class="panel-heading">
      <h3 class="panel-title">Username</h3>
    </div>
    <div id="usernameLabel" class="panel-body">
      {{username}}
    </div>
  </div>
  <div id="countryDiv" class="panel panel-info" style="margin: 1em;">
    <div class="panel-heading">
      <h3 class="panel-title">Country</h3>
    </div>
    <div id="countryLabel" class="panel-body">
      {{country}}
    </div>
  </div>
  <div class="panel panel-info" style="margin: 1em;">
    <div class="panel-heading">
      <h3 class="panel-title">Email</h3>
    </div>
    <div class="panel-body">
      {{email}}
    </div>
  </div>
  <div class="panel panel-info" style="margin: 1em;">
    <div class="panel-heading">
      <h3 class="panel-title">Date Of Joining:</h3>
    </div>
    <div class="panel-body">
      {{joinDate}}
    </div>
  </div>
</div>
</div>
