<style>
  #footer {
    display: none;
  }
  #dashboard_container {
    background: white;
  }
</style>
<li class="chall-li media" data-diff="{{challenge.difficulty}}" data-type="{{challenge.type}}">
  <div class="media-body">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4 class="media-heading col-xs-12">
        <strong>{{ challenge.name }}</strong>
      </h4>
      <div class="col-xs-12">
        <p class="chall-desc">{{ challenge.description }}</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4 class="media-heading col-xs-12">
        <div class="chall-info">
          <span class="label label-warning">{{ challenge.level }}</span>
          <span class="label label-info">{{ challenge.typen }}</span>
          <span class="label label-primary">{{ challenge.language }}</span>
        </div>
      </h4>
      <div class="col-xs-12">
        <a href="/new/game/{{challenge.id}}" class="play-btn btn btn-success">
          <i class="fa fa-gamepad" aria-hidden="true"></i>Play</a>
      </div>
    </div>
  </div>
</li>

