<style>
  #footer {
    display: none;
  }
  #dashboard_container {
    background: white;
  }
</style>
<li class="chall-li media" data-diff="{{myChallenge.difficulty}}" data-type="{{myChallenge.type}}">
  <div class="media-body">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4 class="media-heading col-xs-12">
        <strong>{{ myChallenge.name }}</strong>
      </h4>
      <div class="col-xs-12">
        <p class="chall-desc">{{ myChallenge.description }}</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h4 class="media-heading col-xs-12">
        <div class="chall-info">
          <span class="label label-warning">{{ myChallenge.level }}</span>
          <span class="label label-info">{{ myChallenge.typen }}</span>
          <span class="label label-primary">{{ myChallenge.language }}</span>
        </div>
      </h4>
      <div class="col-xs-12">
        <a href="#" class="play-btn btn btn-success">
          <i class="fa fa-gamepad" aria-hidden="true"></i>Visualize</a>
      </div>
    </div>
  </div>
</li>