<ul class="col-md-7 col-md-offset-1" >
  <div class="alert alert-info" id="empty-alert" style="display: none;">
    <strong>Oh!</strong> It seems like there is no challenges of the kind you are looking for. Would you like to
    <a href="/create" class="alert-link">make one</a>?.
  </div>
  {{#each myChallenges}}
    {{> myChallengeListItem myChallenge=this }}
  {{/each}}
</ul>
