<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span> 
      <strong>Hi!, {{name}} </strong>
      <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <ul class="dropdown-menu">
      <li>
          <div class="navbar-login">
              <div class="row">
                  <div class="col-lg-4">
                      <p class="text-center">
                          <div class="profile_link">
                            <a class="profile_link" href="/profile#info">
                              <span id="defavatar" class="glyphicon glyphicon-user icon-size"></span>
                              <image id="avatar" src="" style="width: 90px; display: none;"/>
                            </a>
                          </div>
                      </p>
                  </div>
                  <div class="col-lg-8">
                      <div class="profile_link">
                        <a href="/profile#info">
                          <p class="text-left"><strong>
                            {{name}}
                          </strong></p>
                          <p class="text-left small">
                            <span class="glyphicon glyphicon-envelope"></span>
                              {{email}}
                          </p>
                        </a>
                      </div>
                      <p class="text-left">
                          <a href="/profile#edit" class="btn btn-primary btn-block btn-sm">
                          <span class="glyphicon glyphicon-edit"></span> Update Info
                          </a>
                      </p>
                      <div class="progress progress-striped active">
                        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="{{porc}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li class="divider"></li>
      <li>
          <div class="navbar-login navbar-login-session">
              <div class="row">
                  <div class="col-lg-12">
                      <p>
                          <a href="/signout" class="btn btn-danger btn-block">
                          <span class="glyphicon glyphicon-log-out"></span> Log Out
                          </a>
                      </p>
                  </div>
              </div>
          </div>
      </li>
  </ul>
</li>
