<style>
  
  #content {
    position: absolute;
    top: 8%;
    width: 100%;
    height: 92%;
    background-image:url(../images/home.png);
  }

  #footer {
    display: none;
  }

</style>

<div class="container about-container" id="about">
  
  <div class="aboutUs">
  		<div class="about_header">
		  	<h1>About Us</h1>
		  	<img src="../images/separator.png" class="img_about">
		</div>
	    <div class="ab_text">
		    <p>
					The Program Repair Golf team is on a mission to match every developer in the world to the right job by providing a technical recruiting platform that assesses developers based on actual coding skills. Program Repair Golf is the destination for the best developers to hone their skills and for companies to find top software developers.
			</p>
		</div>
	</div>

	<div class="contactUs">
		<div class="about_header">			
			<h2>Our Culture</h2>
		  	<img src="../images/separator.png" class="img_about">
		</div>
		<div class="ab_text">
			<p>
				At Program Repair Golf, people are the core of our mission. We’re obsessed about the happiness and success of our team. Everyday, we strive to empower and support our teammates to help them realize their full potential.
			</p>
		</div>
   </div>
</div>