<div id="code-editor-container">
  <div class="code-bar code-top">
    <div class="pull-right btn fsbtn" title="full-screen mode" data-toggle="tooltip">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </div>
  </div>
  <div class="code-body">
    {{{ta}}}
  </div>
  <div class="code-bar code-bottom">
    {{> themesList}}
  </div>
  <div id="fixed-btn"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span></div>
</div>