<style>
  #content {
    position: fixed;
    top: 8%;
    width: 100%;
    background-image:url(../images/home.png);
  }

  #footer {
    position: fixed;
    bottom: -73.5%;
    height: 100%;
    width: 100%;
    border: none;
    background-image:url(../images/unrc.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 11%;
  }
</style>
<div id="contactForm" class="contact-container">
  <div class="col-md-12">
    <div class="form-area">  
      <form role="form" id="submitContact" name="contactForm" method="post"> 
        <h3 class="stroke">Contact Form</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="razon" name="razon" placeholder="Reason" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
          <div class="row">
            <div class="col-md-3">
              <button class="btn" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </div>
            <div class="col-md-6">
              <div id="contactFormError"></div>
              <div id="contactFormSuccess"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> <!-- /container -->