<style>
  #footer {
    display: none;
  }
  #dashboard_container {
    background: white;
  }
</style>
<div id="dashboard_container" class="container-fluid fade fade-in">
  <div class="header">
    <h2 class="textCha" >Challenges</h2>
  </div>
    <div class="col-md-3"  style="margin-top: 15px">
      <button data-toggle="collapse" data-target="#demo" class="btn btn-primary btn-block">Apply Filters</button>
      <div id="demo" class="collapse">
        <label for="select-lang">Filter by Language</label>
        <select name="" id="select-lang" class="form-control">
          <option value="java">Java</option>
        </select>
        <br><label for="">Filter by Difficulty</label>
        <select name="" id="select-diff" class="form-control filter">
          <option value="0"  selected>Any</option>
          <option value="1">Very Easy</option>
          <option value="2">Easy</option>
          <option value="3">Normal</option>
          <option value="4">Hard</option>
          <option value="5">Very Hard</option>
        </select>
        <br><label for="">Filter by Type</label>
        <select name="" id="select-type" class="form-control filter">
          <option value="0" selected>Any</option>
          <option value="1">Compilation</option>
          <option value="2">Test Passing</option>
          <option value="3">Verification</option>
        </select>
      </div>
    </div>
  {{> ChallengeList challenges=data.challenges }}
 
</div>