<style>
  #nav-container {
    top:0px; left:0px; height:200px; right:0px; overflow:hidden;
  }
  #content {
    position: absolute;
    overflow: auto;
    top: 8%;
    width: 100%;
    background-image:url(../images/home.png);
  }

  #body {
    height:100%; width:100%;
  }
  
  #footer {
    display: none;
    overflow:hidden;
  }

</style>

<div class="container help-container" id="help">
  <div class="help_principal">
    <div class="help_header">
      <h1 class="stroke">Need help?</h1>
      <img src="../images/separator.png" class="img_help">
    </div>
    <div class="help_txt">
      <p>
        Program Repair Golf is a project in which a user can resolve or create Programming Challenges. A Challenge consists on a specific difficulty and category, both of them set by the challenge creator.
      </p>
      <div>
        The possible difficulties are:
        <br>

        <ul>
            <li id="very-easy" >Very Easy.</li>
            <li id="easy" style="padding-right: 35px">Easy.</li>
            <li id="normal" style="padding-right: 20px">Normal.</li>
            <li id="hard" style="padding-right: 35px">Hard.</li>
            <li id="very-hard">Very Hard.</li>
        </ul>
        
        <br>
        The possible challenge's categories are:
        <br>
        <br>
        <ul>
          <li>Compilation.</li>
          <p id="compilationDetails" class="collapse categoryDetails">
            <br>
            A challenge set in this category provides an initial portion of code that must be resolved by providing the less keystroke's press solution that makes the program able to compile.
          </p>
          <p class="categoryDetails"><a id="compilationDetailsBtn" class="btn" data-toggle="collapse" data-target="#compilationDetails">View details &raquo;</a></p>
          
          <li>Test Passing.</li>
          <p id="testPassingDetails" class="collapse categoryDetails">
            <br>
            A challenge set in this category provides an initial portion of code that must be resolved by providing the less keystroke's press solution that makes the program able to pass the tests provided by the creator.
          </p>
          <p class="categoryDetails"><a id="testPassingDetailsBtn" class="btn" data-toggle="collapse" data-target="#testPassingDetails">View details &raquo;</a></p>

          <li>Verification.</li>
          <p id="verificationDetails" class="collapse categoryDetails">
            <br>
            A challenge set in this category provides an initial portion of code that must be resolved by providing the less keystroke's press solution that makes the program able to solve the problem specified.That is, meet the functional specifications.
          </p>
          <p class="categoryDetails"><a id="verificationDetailsBtn" class="btn" data-toggle="collapse" data-target="#verificationDetails">View details &raquo;</a></p>
        </ul>

        <p>
          To begin using this application, you must Sign Up for the first time by providing an email and setting a username and password for you to be able to Sign In and use the project services. After that you can create a new challenge which will be shared with the other users or just select anyone created.
        </p>
        <p>
          We strongly reccomend to complete your profile by accessing <a href="/profile">here.</a>
        </p>
      </div>
    </div>
    <div class="btn_action">
      <a href="/contact" class="btn help-btn">
        Contact Us 
      </a>
    </div>
  </div>
</div>
