<style>
     #footer, #nav-container {
      display: none;
    }
</style>

<div class="prg-cover">
  <div class="landing fade-in">
    <div class="jumbotron">
      <h1>Program Repair Golf</h1>
      <p class="lead">Code it, solve it, love it</p>
      <p><a class="btn btn-lg btn-success" href="/signup">Join the family!</a></p>
      <a href="/sign_in">Already a member? Log in!</a>
    </div>

    <div class="row marketing landing-row">
      <div class="col-md-6 col-xs-6">
        <h4>Code it</h4>
          <p>Pick a challenge and test your problem-solving skills by coding creative solutions to overcome it.</p>
      </div>
      <div class="col-md-6 col-xs-6">  
        <h4>Solve it</h4>
        <p>Make the challenge no longer a challenge: code that precious solution you were looking for!</p>
      </div>
    </div>
    <div class="row marketing landing-row no-padding-top">
      <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
        <h4>Love it</h4>
        <p>Be proud of your results and improve yourself by taking new and more difficult challenges. How far can you get?</p>
      </div>
    </div>
  </div>
</div>
          <!-- change content via js -->
      <div id="content">
      </div>
  </div> 
</div>