<nav id="nav_bar" class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-console"></span><strong> PRG</strong>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#if name}}
          <li><a href="/myChallenges/user">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            My Challenges</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-code" aria-hidden="true"></i>
              Create Challenge<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/create/compile">Compile</a></li>
              <li><a href="/create/test">Test Passing</a></li>
              <li><a href="/create/verification">Verification</a></li>
            </ul>
          </li>
        {{/if}}
        <li><a href="/about">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          About Us</a></li>
        <li><a href="/help">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          Help</a></li>
        <li><a href="/contact">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          Contact</a></li>
      </ul>

      {{#if name}}
        <ul class="nav navbar-nav navbar-right col-xs-12 col-sm-2  pull-right">
      {{else}}
        <ul class="nav navbar-nav navbar-right ">
      {{/if}}

      {{#if name}}
        {{> userinfo user=data}}
      {{else}}
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{/if}}

      </ul>
      <ul>
        {{#if name}}
        <div id="responsiveDiv" class="col-xs-12 col-sm-2 pull-right">
          <form id="searchProfile" action="javascript:void(0)" class="search-form">
            <div id="searchDiv" class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <select class="js-example-basic-single form-control" id="search" name="state" multiple="multiple" placeholder="search">
              </select>
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
      {{/if}}
      </ul>
    </div>

  </div>
</nav>
