<style>
  #footer {
    display: none;
  }
  #content {
    box-shadow: none;
  }
</style>
<div id="container_newChallenge" class="container">
  <form class="form-newChallenge" id="submitNewChallenge" name="newChallengeform" method="post">
    <h2 id="title" class="form-newChallenge-heading"></h2>
    <div class="input-group col-xs-12">
       <label for="inputNewChallenge" class="sr-only">Name</label>
       <input type="name" id="nameChallenge"  class="form-control" placeholder="Name of challenge" required autofocus>
    </div>
    <p> Description </p>
    <textarea id="description" class="form-control" rows=4 required ></textarea>
    <p> Source code </p>
    <div id="code_area">
      <textarea id="code" class="form-control" rows=15 required >public class Answer{
        /* Your code starts here */
  

  
        /* Your code ends here */
      }</textarea>
    </div>
    <p id="test_p"></p>
    <div id="tests_area" style="display: none;">
      <textarea id='test' class='form-control' rows=15 required >import org.junit.*;
        /*  Define your tests in here  */
        public class AnswerTest{
          @Test
          public void test1(){
            /* You should call Answer.+(the method you want to test) */
          }
        }</textarea>
    </div>
    <p>Difficulty</p>
    <div class="btn-group" role="group" id="diffic">
      <select class="form-control" id="select_dif" type="button">
        <option value="0">Very​ Easy​</option>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
        <option value="4">Very Hard</option>
      </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="submitData" type="button">Create Challenge</button>
  </form>
  <div id="new_challengeError"></div>
</div> <!-- /container -->