<div class="container" id="notfound">
  <div class="row">
    <div class="error-template">
      <img src="../images/notfound.png" class="img-circle" alt="Responsive image" width="250" height="175">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!<br>
      </div>
      <div class="error-actions">
        <a href="/" class="btn btn-primary">
          <i class="icon-home icon-white"></i> Take Me Home 
        </a>
        <a href="#" class="btn btn-default">
          <i class="icon-envelope">
          </i> Contact Support 
        </a>
      </div>
    </div>
  </div>
</div>