<style>
  #footer {
    display: none;
  }
  #content {
    box-shadow: none;
  }
</style>
<div id="play-container" class="container">
  <div class="row">
    <div id="header" class="header">
      <h2 class="text-muted">
        {{name}}
      </h2>
    </div>
    <div id="nav-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#challenge-tab">Challenge</a></li>
        <li><a data-toggle="tab" href="#subs-tab" >My Submissions</a></li>
        <li><a data-toggle="tab" href="#ranking-tab">Ranking</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="active in tab-pane fade" id="challenge-tab">
        {{> EditChallenge this}}
      </div>
      <div class="tab-pane fade" id="subs-tab">
        
      </div>
      <div class="tab-pane fade" id="ranking-tab">
        
      </div>
    </div>
  </div>
</div>