<style>
  
  #content {
    position: fixed;
    top: 8%;
    width: 100%;
    height: 92%;
    box-shadow: none;
  }

  #footer {
    display: none;
  }

</style>

<div id="user_profile_container">
  <div class="container profile-container">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <div id="profile-container">
              <form>
                <image id="profileImage" src="{{imageURL}}" /></image>
                <b id="edit-avatar">Click to change</b>
              </form>
            </div>
          </div>
           <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture/>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h4 id="uname" style="color:#00b1b1;">{{name}}</h4>
          </div>
          <div class="profile-usertitle-job">
            {{occupation}}
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li id="inf" class="active">
              <a id="infoBtn" href="javascript:void(0)">
              <i class="glyphicon glyphicon-user"></i>
              Info</a>
            </li>
            <li id="ed" class="active">
              <a id="editBtn" href="javascript:void(0)">
              <i class="glyphicon glyphicon-edit"></i>
              Edit</a>
            </li>
            <li id="stg" class="active">
              <a id="settingsBtn" href="javascript:void(0)">
              <i class="glyphicon glyphicon-cog"></i>
              Settings</a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
      <div class="col-md-9">
        <div id="content" class="profile-content">
          <div id="userInfo">
            {{> profileInfo}}
          </div>
          <div id="edit_profile" hidden>
            {{> editProfile}}
          </div>
          <div id="change_password" hidden>
            {{> changePassword}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
