<ul class="subs-ul" >
  <div class="alert alert-info" id="noranks-alert" style="display: none;">
    No one have ever solved this challenge before.<strong> Won't you wanna be the first?</strong>
  </div>
  {{#each ranking}}
    {{> RankingListItem this }}
  {{/each}}
</ul>