<style>
  #content {
    position: fixed;
    top: 8%;
    width: 100%;
    background-image:url(../images/home.png);
  }

  #footer {
    position: fixed;
    bottom: -73.5%;
    height: 100%;
    width: 100%;
    border: none;
    background-image:url(../images/unrc.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 11%;
  }
</style>

<div id="signUpContainer" class="container">
  <div class="main-signup main-center">
    <form class="form-signup" id="submitSignInData" name="signUpform" method="post" >
      <h2 class="form-signup-heading">Sign Up</h2>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" name="inputPassword" type="password" class="form-control" placeholder="Password" required>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <label for="inputRePassword" class="sr-only">Password</label>
        <input id="inputRePassword" name="inputRePassword" type="password" class="form-control" placeholder="Re-Password" required>
      </div>

      <div class="checkbox">
        <label><input id="termsCheckbox" type="checkbox" name="checkbox" value="remember-me"> I have read and Agree to the PRG terms & conditions</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" id="submitData" type="button"> Sign Up</button>
    </form>
    <div id="signUpError">
    </div>
  </div>
</div> <!-- /container -->
