<style>
  #content {
    position: fixed;
    top: 8%;
    width: 100%;
    background-image:url(../images/home.png);
  }

  #footer {
    position: fixed;
    bottom: -73.5%;
    height: 100%;
    width: 100%;
    border: none;
    background-image:url(../images/unrc.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 11%;
  }
</style>

<div id="signInContainer" class="container">
  <div class="main-signIn main-center">
    <form data-toggle="validator" role="form" class="form-signin" id="loginData" name="loginData">
      <h2 class="form-signin-heading">Log In</h2>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <label for="inputEmail" class="control-label"></label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" data-minlength="6" data-error="The password must have at least 6 characters" placeholder="Password" required>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="submit">Sign in</button>
    </form>
    <br>
    <div id="loginError">
    </div>
  </div>  
</div> <!-- /container -->
