<ul class="subs-ul" >
  <div class="alert alert-info" id="empty-alert" style="display: none;">
    You have never solved this challenge before.<strong> What are you waiting for?</strong>
  </div>
  {{#each submissions}}
    {{> SubmissionListItem this }}
  {{/each}}
</ul>
<div id="subm-modal"><div class="submodal"><div class="submodal-content"><div class="subm-code">
  <textarea id="subm-code"></textarea>
</div></div></div></div>